<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
        <a href="{% url 'index' %}" class="logo mr-auto"><img src="{{ mainpage.get_icon_image }}" alt=""
                                                              class="img-fluid"></a>
        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li class="active"><a href="{% url 'index' %}">Inicio</a></li>
                <li><a href="{% url 'signin' %}">Registrarse</a></li>
                <li>
                    {% if request.user.is_superuser %}
                        <a href="{% url 'dashboard' %}">Bienvenido {{ request.user.get_short_name }}</a>
                    {% else %}
                        <a href="{% url 'login' %}">Iniciar sesión</a>
                    {% endif %}
                </li>
            </ul>
        </nav>
    </div>
</header>
<!-- End Header -->