{% extends 'sale/employee/list.html' %}
{% load static %}
{% block head_list %}
    <script src="{% static 'lib/select2-4.0.13/js/select2.min.js' %}"></script>
    <script src="{% static 'lib/select2-4.0.13/js/i18n/es.js' %}"></script>
    <link rel="stylesheet" href="{% static 'lib/select2-4.0.13/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/select2-4.0.13/css/select2-bootstrap4.min.css' %}">
    <script src="{% static 'lib/bootstrap-daterangepicker-3.1/js/spanish.js' %}"></script>
    <script src="{% static 'lib/bootstrap-daterangepicker-3.1/js/daterangepicker.js' %}"></script>
    <link rel="stylesheet" href="{% static 'lib/bootstrap-daterangepicker-3.1/css/daterangepicker.css' %}"/>
    <script src="{% static 'sale/client/js/list.js' %}"></script>
{% endblock %}

{% block columns %}
    <th class="text-center">Nro</th>
    <th>Mecanico</th>
    <th>Placa</th>
    <th>Fecha de registro</th>
    <th>Hora</th>
    <th>Subtotal</th>
    <th>Iva</th>
    <th>Total</th>
    <th>Estado</th>
    <th class="text-center">Opciones</th>
{% endblock %}

{% block rows %}

{% endblock %}

{% block box_footer_add_button %}
    <a href="{% url 'sale_client_create' %}" class="btn btn-primary btn-flat">
        <i class="fa fa-car"></i> Agendar Cita
    </a>
{% endblock %}