{% extends 'list.html' %}
{% load static %}
{% block head_list %}
    <script src="{% static 'lib/select2-4.0.13/js/select2.min.js' %}"></script>
    <script src="{% static 'lib/select2-4.0.13/js/i18n/es.js' %}"></script>
    <link rel="stylesheet" href="{% static 'lib/select2-4.0.13/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/select2-4.0.13/css/select2-bootstrap4.min.css' %}">
    <script src="{% static 'lib/bootstrap-daterangepicker-3.1/js/spanish.js' %}"></script>
    <script src="{% static 'lib/bootstrap-daterangepicker-3.1/js/daterangepicker.js' %}"></script>
    <link rel="stylesheet" href="{% static 'lib/bootstrap-daterangepicker-3.1/css/daterangepicker.css' %}"/>
    <script src="{% static 'sale/employee/js/list.js' %}"></script>
{% endblock %}

{% block columns %}
    <th class="text-center">Nro</th>
    <th>Cliente</th>
    <th>Automóvil</th>
    <th>Fecha de registro</th>
    <th>Hora</th>
    <th>Subtotal</th>
    <th>Iva</th>
    <th>Total</th>
    <th>Estado</th>
    <th class="text-center">Opciones</th>
{% endblock %}

{% block rows %}

{% endblock %}

{% block content_list_before %}
    <div class="row">
        <div class="col-lg-5">
            <div class="form-group">
                <label>Buscar por fecha de registro:</label>
                <div class="input-group">
                    {{ form.date_range }}
                    <span class="input-group-append">
                       <button class="btn btn-success btnSearch" type="button">
                            <i class="fas fa-calendar-check"></i> Buscar por rangos
                        </button>
                        <button class="btn btn-warning btnSearchAll" type="button">
                            <i class="fas fa-calendar-check"></i> Ver todas
                        </button>
                      </span>
                </div>
            </div>
        </div>
        <div class="col-lg-3" hidden="true">
            <div class="form-group">
                <label>Tipo:</label>
                {{ form.type_sale }}
            </div>
        </div>
    </div>
    <hr>
{% endblock %}

{% block javascript_list %}
    <div class="modal fade" id="myModalDetails" role="dialog">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><b><i class="fa fa-search"></i> Detalle de la venta</b>
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#home">
                                    Cita Vehicular
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#menu1">
                                    Productos
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#menu2">
                                    Historial Vehicular
                                </a>
                            </li>

                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane container-fluid active" id="home">
                                <br>
                                <table width="100%" class="table table-bordered table-striped display nowrap" id="tblDateMedical">
                                    <thead>
                                    <tr>
                                        <th style="width: 30%;">Nombre</th>
                                        <th style="width: 70%;">Descripción</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane container-fluid fade" id="menu1">
                                <br>
                                <table width="100%"
                                       class="table table-bordered table-striped display nowrap" id="tblDetails">
                                    <thead>
                                    <tr>
                                        <th>Producto</th>
                                        <th>Tipo de Producto</th>
                                        <th>Precio Unitario</th>
                                        <th>Cantidad</th>
                                        <th>Subtotal</th>
                                    </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                            <div class="tab-pane container-fluid fade" id="menu2">
                                <br>
                                <table width="100%" class="table table-bordered table-striped display nowrap" id="tblMedicalParameters">
                                    <thead>
                                    <tr>
                                        <th style="width: 30%;">Parámetro</th>
                                        <th style="width: 20%;">Valor</th>
                                        <th style="width: 50%;">Observación</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}